@tailwind base;
@tailwind components;
@tailwind utilities;

/*
font-family: 'General Sans', sans-serif;
font-family: 'Cabinet Grotesk', sans-serif;
font-family: 'Chillax', sans-serif;
font-family: 'JetBrains Mono', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Bespoke Stencil', sans-serif;
font-family: 'Britney', cursive;
*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0c0c0c;
  font-family: "General Sans", sans-serif;
}

/* 

#f0f2f3	#2e235e	#b92a0d	white-blue-red
#f0f2f3	#353432	#349b98	white-balck-greenish
#f0f2f3	#272f3b	#00a2fb	white-black-blue


#f9ffff	#c	#e75427	white-black-orange


#f5f9f9	#1f2c3f	white-darkish_blue		
#f5f9f9	#4e2f43	white-maroon

#fffdff	#414343	white-black
#fffdff	#2a2929	white-dark_black 

*/
